#tablita-in {
    width:350px;
    height:auto;
    padding:20px;
    margin-top:15px;
    background: #1EAA76;
    border:#D0E0DA 5px solid;
    border-radius:15px;
    overflow: hidden;
    text-align: center;
}
#ti-1{
    padding:auto 10px;
    margin-top: 5px;
    color:black;
}

